@charset "utf-8";

@font-face {
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
  font-family: "Open Sans";
  src: url();
}

/* Geral */
html {
  font-family: "Open Sans", sans-serif;
  /* overflow-x: hidden; */
}

body {
  margin: 0px;
}

body,
img {
  /* Desativar interferencia do usuario na pagina como ctrl + a ou selecionar */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Desativar interferencia do usuario na pagina como ctrl + a ou selecionar */
}

img {
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0px;
  color: #666;
}

/* #interface {
  max-width: 1920px;
  width: 100%;
} */

/* Início da configuracao do Cabecalho */

header {
  position: relative;
  height: auto;
  width: 100%;
  border-top: 1px solid #ccc;
}

/* Fim da configuracao do Cabecalho */

/* Início da configuracao da barra de navegacao */

nav {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 100%;

  z-index: 1;
  background-color: white;
  max-width: 116.125rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 4.375rem;
  margin: 0% 5%;
}

img#logo {
  width: 3.125rem;
  height: 3.125rem;
}

.nav-container ul {
  margin: 0px;
}

.nav-container li {
  display: inline-block;

  list-style: none;
  margin: 0px 15px;
}

.nav-container li a {
  text-decoration: none;
  color: #666;
  transition: 0.5s;
  padding: 0.3125rem 0.625rem 0rem 0.625rem;
}

.nav-container li a:hover {
  color: #3381f3;
  border-bottom: 0.225rem solid #3381f3;
  border-radius: 0.5rem 0.5rem 0.125rem 0.125rem;
  padding-bottom: 0.3125rem;
  background-color: #6d6d6d44;
}

/* Fim da configuracao da barra de navegacao */

/* Início da configuracao do banner */

div#main-banner {
  background: url("../img/banner6.jpg") no-repeat;
  background-size: cover;
  background-position: 0px 55%;
  position: relative;
  margin-top: 0px;
}

div#search-form {
  position: relative;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15em;
  padding-bottom: 15em;
  text-align: center;
}

div#search-form h1 {
  font-size: 40px;
}

div#search-form p {
  margin-top: 30px;
  margin-bottom: 60px;
  font-size: 18px;
  font-weight: 300px;
}

div#search-form input,
div#search-form select {
  background-color: white;
  border-radius: 5px;
  border-color: transparent;
  padding: 10px 20px;
  font-size: 18px;
  margin: 0px 10px;
}

div#search-form input[type="submit"] {
  background-color: #3381f3;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

div#search-form input[type="submit"]:hover {
  background-color: #2b79eb;
}

/* Fim da configuracao do banner */

/* Início da configuracao do seção ultimos empregos */

#lastjobs-container {
  text-align: center;
  padding: 100px 0px;
}

.wrapper {
  max-width: 1200px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#lastjobs-container h1 {
  font-size: 36pt;
  margin-bottom: 50px;
}

#lastjobs-container ul {
  padding: 0px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

#lastjobs-container ul li {
  list-style: none;
  text-align: left;
  border-bottom: 1px solid #ccc;
  height: 80px;
  position: relative;
}

#lastjobs-container ul li:last-child {
  border: none;
}

a.clickarea {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

/* Fim da configuracao do seção ultimos empregos */

/* Início da configuração das logos */

div.area-compania {
  display: inline-block;
  width: 50%;
  position: relative;
  padding-left: 1%;
}

div.area-compania img {
  width: 100px;
  margin-top: 2.5px;
  margin-left: 25px;
  /* border: 1px solid red; */
}

div.info-compania {
  display: inline-block;
  margin-left: 50px;
  margin-top: 10px;
  text-align: left;
  position: absolute;
}

div.info-compania h3 {
  font-weight: 300;
  margin-bottom: 10px;
}

div.info-compania p {
  font-weight: bold;
}

div.localidade {
  color: #6d6d6d;
  display: inline-block;
  width: 25%;
  position: absolute;
  height: 100%;
  line-height: 80px;
}

div.localidade i,
div.localidade p {
  display: inline-block;
}

div.localidade i {
  margin-right: 5px;
}

div.tipo-trabalho {
  display: inline-block;
  width: 20%;
  height: 100%;
  position: absolute;
  padding-top: 30px;
  right: 1%;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}

div.tipo-trabalho span {
  display: block;
  width: 100%;
  height: 20px;
  line-height: 20px;
  border-radius: 5px;
  color: white;
  letter-spacing: 0.125rem;
}

span.clt {
  background-color: #735fee;
}

span.pj {
  background-color: #5bbc2e;
}

span.homeoffice {
  background-color: #ff5a5f;
}

/* Fim da configuração das logos */

/* Começo da div de ver mais vagas */

div.btnjobs-container {
  margin-top: 50px;
}

a.btn-jobs {
  text-transform: uppercase;
  background-color: white;
  color: #3381f3;
  border: 2px solid #3381f3;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: bold;
  transition: 0.5s;
}

a.btn-jobs:hover {
  background-color: #3381f3;
  color: white;
}

/* Fim da div de ver mais vagas */

/* Começo da sessão de enviar vagas */

#sendjobs-container {
  background: url(../img/banner2.jpg) no-repeat;
  background-size: cover;
  background-position: 0 25%;
  padding: 15em 0;
}

#sendjobs-inner {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: -30px;
  left: -320px;
  padding: 30px 25px;
  border-radius: 25px;
  max-width: 600px;
  border: 2px solid #ccc;
  background-color: #6d6d6d44;
}

#sendjobs-inner h2,
#sendjobs-inner p {
  width: 600px;
  color: #fff;
}

#sendjobs-inner h2 {
  letter-spacing: -1.5px;
  font-size: 36px;
  margin-bottom: 50px;
}

#sendjobs-inner p {
  font-size: 18px;
  margin-bottom: 50px;
  text-indent: 20px;
}

.light-btn {
  background-color: #fff;
  border: 2px solid #fff;
  color: #666;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.5s;
}

.light-btn:hover {
  background-color: #ffffff66;
  color: #fff;
}

/* Fim da sessão de enviar vagas */

/* Começo da sessão dos status de trabalhos */

#status-container {
  text-align: center;
  padding: 5em 0;
}

.title-center {
  font-size: 36px;
  margin-bottom: 30px;
  text-align: center;
}

.p-center {
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}

.status-box {
  display: inline-block;
  text-align: center;
  width: 24.5%;
  margin-top: 80px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  height: 100px;
}

.status-box:nth-child(2),
.status-box:nth-child(3),
.status-box:nth-child(4) {
  border-left: none;
}

.status-qtd {
  font-size: 36px;
}

.status-text {
  font-size: 20px;
}

/* Fim da sessão dos status de trabalhos */

/* Começo da sessão dos depoimentos */

#depoimento-container {
  background: url(../img/banner7.jpg) no-repeat;
  background-size: cover;
  padding: 10em 0;
}

#depoimento-container h2,
#depoimento-container p {
  color: #fff;
  text-align: center;
}

#depoimento-container h2 {
  font-size: 36px;
  margin-bottom: 50px;
}

#depoimento-container p {
  margin-bottom: 50px;
}

.depoimento-box {
  display: inline-block;
  width: 24.5%;
  text-align: center;
}

#depoimento-container .depoimento-box .depoimento-msg {
  background-color: #fff;
  color: #666;
  border-radius: 10px;
  padding: 20px;
  width: 50%;
  position: relative;
  margin: 35px auto;
  font-style: italic;
}

.depoimento-msg::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.depoimento-box img {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.depoimento-nome {
  font-weight: bold;
  letter-spacing: 1.5px;
}
